page-notife-create {
  
  
  .center {
    text-align: center !important;
    margin: 2px;
  }
  .centerColorRed {
    color: #C0504D;
    text-align: center;
    margin: 2px;
  }
  .centerColorBlue {
    color: #5981BD;
    text-align: center;
    margin: 2px;
  }
  .contour {
    margin: 12px;
  }
}
